<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiveup.core.courseScore.mapper.CourseScoreMapper">
    <select id="findByCondition" resultType="com.fiveup.core.courseScore.entity.CourseScore">
        SELECT *
        FROM course_score
        WHERE course_name LIKE CONCAT('%', #{courseName}, '%')
        <if test="courseType != null">
            AND course_type = #{courseType}
        </if>
        AND teacher_name LIKE CONCAT('%', #{teacherName}, '%')
        AND student_num LIKE CONCAT('%', #{studentNum}, '%')
        AND student_name LIKE CONCAT('%', #{studentName}, '%')
    </select>
    <delete id="deleteByIds">
        DELETE FROM course_score WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>


    <!-- 查询每门课程的分数段统计 -->
    <select id="getCourseScoreStatisticsBySQL" resultType="com.fiveup.core.courseScore.entity.CourseScoreStatisticsVO">
        SELECT course_name                                               AS courseName,
               SUM(CASE WHEN score BETWEEN 0 AND 59 THEN 1 ELSE 0 END)   AS bucket_0_59,
               SUM(CASE WHEN score BETWEEN 60 AND 69 THEN 1 ELSE 0 END)  AS bucket_60_69,
               SUM(CASE WHEN score BETWEEN 70 AND 79 THEN 1 ELSE 0 END)  AS bucket_70_79,
               SUM(CASE WHEN score BETWEEN 80 AND 89 THEN 1 ELSE 0 END)  AS bucket_80_89,
               SUM(CASE WHEN score BETWEEN 90 AND 100 THEN 1 ELSE 0 END) AS bucket_90_100
        FROM course_score
        GROUP BY course_name
    </select>
</mapper>